<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Polaris Block Addin</Name><AddInID>{4fd8baa6-3c36-48aa-94b6-4441b9c37c65}</AddInID><Description>Polaris Block boundaries update by parcels</Description><Version>1.0</Version><Image>Images\LayerTool32.png</Image><Author>Valery K.</Author><Company>City of Toronto</Company><Date>06/04/2019</Date>
<Targets>
  <Target name="Desktop" version="10.4" />
</Targets>
<AddIn language="PYTHON" library="Polaris_Block_addin.py" namespace="Polaris_Block_addin"><ArcMap>
    <Commands>
        <Button caption="Source for Polaris Block update" category="Polaris Block Addin" class="ExportParcelsClass" id="Polaris_Block_addin.exp_button" image="Images\CadastralParcelBuildHistoric16.png" message="Source for Polaris Block update" tip="Polaris Block tool"><Help heading="" />
        </Button>
    </Commands>
    <Toolbars>
        <Toolbar caption="Polaris Block Tools" category="Polaris Block Addin" id="Polaris_Block_addin.PB_toolbar" showInitially="true">
            <Items><Button refID="Polaris_Block_addin.exp_button" /></Items>
        </Toolbar>
    </Toolbars>
  </ArcMap></AddIn></ESRI.Configuration>